<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day of th week</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= whichDay %></h1>
    </div>
    <div class="box">
        <% data.forEach((item)=>{%>
            <div class="item">
            <form action="/delete" method="post" style="display: inline;">
                <input type="checkbox" name = 'checkbox' value = '<%= item._id %>' onchange="this.form.submit()" style="display: inline;">
                <p style="display: inline;"><%=item.name%></p>
                <input type="hidden" name="typeOf" value="<%= whichDay%>"></input>
            </form>
            </div>
        <%});%>
        <form class="item"action="/" method="post">
            <input type="text" name="Name" placeholder="New-item" autocomplete="off"><br>
            <button type="submit" name="add" value=<%= whichDay %>>+</button>
        </form>
    </div>
</body>
</html>
<%- include('footer'); -%>